/*
https://www.youtube.com/shorts/aBCmOjaGGkI

*/

*{
    margin: 0;
    padding: 0;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.9); /* 50% transparent black */
    color: white;
    text-align: right;
    border-bottom: 1px solid #967859;
}

nav a {
    display: inline;
    color: white;
    text-decoration: none;
    padding: 1.5rem 1rem;
    display: block;
}
.background-blur {
    background-color: rgba(0, 0, 0, 0.9); /* 50% transparent black */
    max-width: 75vw;
    min-height: 100vh;
    margin: 0 auto;
}
h1 {
  font-family: "Garamond";
}
body {
  background-image: url('gifs/redwave.gif');
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /** on the DP page the gif will stretch a bunch because the gif is expanding to have the same height as the height of the conent on the page, alot, so you need to fix it so that its just the same gif that you scroll text over **/
  font: 16px 'Times New Roman';
  color: lightgray;
}
/*https://demo.tutorialzine.com/2010/03/centering-div-vertically-and-horizontally/demo.html*/
div[id="AadiTiwari"]{
    font: 30px 'Times New Roman';
    width:270px;
	height:150px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-40px 0 0 -60px;
}

.dropdown {
    position: relative;
}

.dropdown-item {
    border: 1px solid white;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 100%;
    z-index: 1;
    padding: 0rem 1rem;
}

.dropdown:hover .dropdown-item {
    display: block;
    position: absolute;
}
.content-wrapper {
    /** background-color: rgba(0, 0, 0, 0.9); /* 50% transparent black */
    line-height: 1.6;
    max-width: 50vw;
    margin: 2rem auto;
    padding: 0 1rem 3rem;
    margin: 0 auto;
}