/*
https://www.youtube.com/shorts/aBCmOjaGGkI
*/

*{
    margin: 0;
    padding: 0;
}

nav[id="right nav"] {
    background-color: rgba(0, 0, 0, 0.9); /* 50% transparent black */
    color: white;
    padding: 1rem;
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}


body {
  background-image: url('gifs/redwave.gif');
  background-size: cover;     
  background-attachment: fixed; /** on the DP page the gif will stretch a bunch because the gif is expanding to have the same height as the height of the conent on the page, alot, so you need to fix it so that its just the same gif that you scroll text over **/
  font: 16px 'Times New Roman', serif;
  color: lightgray;
}
/*https://demo.tutorialzine.com/2010/03/centering-div-vertically-and-horizontally/demo.html*/
div[id="AadiTiwari"]{
    font: 30px 'Aptos';
    width:270px;
	height:150px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-40px 0 0 -60px;
}